@using System.Security.Claims

@if (User.Identity.IsAuthenticated)
{
	<form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
		<ul class="nav navbar-nav">
			<li>
				<a asp-controller="Account" asp-action="Profile" title="My Profile"><i class="fa fa-user"></i> Hello @User.Identity.Name!</a>
			</li>
			<li><a href="#"><i class="fa fa-star"></i> Wishlist</a></li>
			<li><a href="checkout.html"><i class="fa fa-crosshairs"></i> Checkout</a></li>
			<li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Cart</a></li>
			<li>
				<button type="submit" class="btn btn-link"><i class="fa fa-sign-out"></i> Log off</button>
			</li>
		</ul>
	</form>
}
else
{
	<ul class="nav navbar-nav">
		<li><a asp-controller="Account" asp-action="Register"><i class="fa fa-sign-in"></i> Register</a></li>
		<li><a asp-controller="Account" asp-action="Login"><i class="fa fa-lock"></i> Log in</a></li>
	</ul>
}
