@*
	-----------------------------------------------------------------------
		<copyright file="GetProductOffers.cshtml" author="Dzmitry Prakapenka">
			All rights reserved.
		</copyright>
	-----------------------------------------------------------------------
*@
@model IEnumerable<WebEngine.Web.ViewModels.ProductOffer.ProductOfferView>

@foreach (var item in Model)
{
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				@item.Message
			</h4>
		</div>
	</div>
}
