@*
	-----------------------------------------------------------------------
		<copyright file="Profile.cs" author="Dzmitry Prakapenka">
			All rights reserved.
		</copyright>
	-----------------------------------------------------------------------
*@
@model IEnumerable<WebEngine.Web.ViewModels.Category.CategoryView>

<h2>Categories</h2>

<div class="panel-group category-products" id="accordian">
	@foreach (var item in Model)
	{
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a asp-action="Index" asp-controller="Product" asp-route-category="@item.Name">
						@item.Name
					</a>
				</h4>
			</div>
		</div>
	}
</div>