@using WebEngine.Web.ViewModels.Product
@model WebEngine.Web.ViewModels.Product.ProductListView


<div id="sidebar" class="col-xs-6 col-sm-3 sidebar-offcanvas" role="navigation">
	@*@Component.Invoke("CategoryList")*@
	TODO: filter
</div>
<div class="col-xs-12 col-sm-9">
	@if (Model.Products != null)
	{
		@foreach (ProductView product in Model.Products)
		{
			<p>@product.CompanyName @product.Name</p>
		}
	}
</div>