@using WebEngine.Web.ViewModels.Product
@model WebEngine.Web.ViewModels.Product.ProductListView

@{
	ViewData["Title"] = "Home Page";
}

@*<div id="sidebar" class="col-xs-6 col-sm-3 sidebar-offcanvas" role="navigation">
	TODO: filter
</div>
<div class="col-xs-12 col-sm-9">

		@foreach (ProductView product in Model.Products)
		{
			<p>
				@product.CompanyName @product.Name
				<br />
				@product.ShortInfo
			</p>
		}

</div>*@