@*
-----------------------------------------------------------------------
	<copyright file="Profile.cs" author="Dzmitry Prakapenka">
		All rights reserved.
	</copyright>
-----------------------------------------------------------------------
*@
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

empty.
