@{
	ViewData["Title"] = "Home Page";
}

<div id="sidebar" class="col-xs-6 col-sm-3 sidebar-offcanvas" role="navigation">
	@Component.Invoke("CategoryList")
</div>
<div class="col-xs-12 col-sm-9">
	1
</div>

