@model Profile
@{
	ViewData["Title"] = "Register";
}
<table>
	<tr>
		<td>User Id</td>
		<td>@Model.UserId</td>
	</tr>
	<tr>
		<td>User name</td>
		<td>@Model.UserName</td>
	</tr>
	<tr>
		<td>Role name</td>
		<td>@Model.RoleName</td>
	</tr>
	<tr>
		<td>Register Date</td>
		<td>@Model.RegisterDate</td>
	</tr>
</table>
<a asp-controller="Store" asp-action="CreateStore"> Create Store</a>