@*
	-----------------------------------------------------------------------
		<copyright file="GetCategories.cshtml" author="Dzmitry Prakapenka">
			All rights reserved.
		</copyright>
	-----------------------------------------------------------------------
*@
@model IEnumerable<WebEngine.Web.ViewModels.Category.CategoryView>

<ul class="nav nav-sidebar">
	@foreach (var item in Model)
	{
		<li><a asp-action="GetProduct" asp-controller="Product" asp-route-category="item.Name">@item.Name</a></li>
	}
</ul>